*{
   
    margin: 0;   

}

.container {
    width: 100%;
    margin: auto;
  }
 
.item {
    width: 50%;
    float: left;
    
    
  
  }
  h1{
    padding: 10px;
  }
  p{
    padding: 10px;
  }
  h2
  {
    padding: 10px;
  }
  
  .clear {
    clear:both;

  }

  .navbar {
 background-color: rgb(105, 105, 105);
overflow: hidden;
list-style-type: none;
 size: 100px;
 width: 100%;
 height: 9vh;
 padding: 0;
 
 
 
}


img{
    width: 4000px;
}

.navbar img{
   
    float: right;
   
}
.navbar a {
    color: #ffffff;
    text-align: center center;
    padding: 15px 15px;
    text-decoration: none;
    float: left;
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    font-family: sans-serif;
    margin-inline: 3 3 3 3 ;
    

}


.navbar a:hover {
  
    background-color: #ff305b;
  }
.t1{
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(253, 253, 253);
  border-collapse: collapse;
  margin-top: 130px;
  width: 70%;
  height: 70%;
}
.tr2{
  height: 75px;
}


.td4{
  text-align: right;
  width: 60VH;
  background-color: aquamarine;
  
}

.td5{
  text-align: left;
  width: 120vh;
}
td{
  border-color: #ff0000;
}
.div1{
  border: 5px solid;
  border-color: #5e8cff;
 
  margin:100px 100px 500px 100px;
}